<section id="about" class="div__about">
  <div class="about__main">
    <div class="main__image"></div>
    <p>Hi, I am Lenora ✨</p>
    <h1>Robotics and Telecomunications Engineer and Developer</h1>
  </div>
  <div class="about__buttons">
    <button onclick="document.getElementById('contact__modal').open = true;">
      Contact</button
    >
    <button onclick="window.open('/lenora_cv.pdf')">
      CV
      <svg
        width="34"
        height="29"
        viewBox="0 0 34 29"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M32 17.3334C31.558 17.3334 31.1341 17.4826 30.8215 17.7483C30.509 18.014 30.3334 18.3743 30.3334 18.75V24.4167C30.3334 24.7924 30.1578 25.1528 29.8452 25.4184C29.5327 25.6841 29.1087 25.8334 28.6667 25.8334H5.33337C4.89135 25.8334 4.46742 25.6841 4.15486 25.4184C3.8423 25.1528 3.66671 24.7924 3.66671 24.4167V18.75C3.66671 18.3743 3.49111 18.014 3.17855 17.7483C2.86599 17.4826 2.44207 17.3334 2.00004 17.3334C1.55801 17.3334 1.13409 17.4826 0.821529 17.7483C0.508969 18.014 0.333374 18.3743 0.333374 18.75V24.4167C0.333374 25.5439 0.860158 26.6249 1.79784 27.4219C2.73552 28.2189 4.00729 28.6667 5.33337 28.6667H28.6667C29.9928 28.6667 31.2646 28.2189 32.2022 27.4219C33.1399 26.6249 33.6667 25.5439 33.6667 24.4167V18.75C33.6667 18.3743 33.4911 18.014 33.1786 17.7483C32.866 17.4826 32.4421 17.3334 32 17.3334ZM15.8167 19.7559C15.9752 19.8848 16.1621 19.9859 16.3667 20.0534C16.5662 20.1283 16.7819 20.167 17 20.167C17.2182 20.167 17.4339 20.1283 17.6334 20.0534C17.838 19.9859 18.0249 19.8848 18.1834 19.7559L24.85 14.0892C25.1639 13.8224 25.3402 13.4606 25.3402 13.0834C25.3402 12.7061 25.1639 12.3443 24.85 12.0775C24.5362 11.8108 24.1105 11.6609 23.6667 11.6609C23.2229 11.6609 22.7972 11.8108 22.4834 12.0775L18.6667 15.3359V1.75004C18.6667 1.37432 18.4911 1.01398 18.1786 0.748306C17.866 0.482629 17.4421 0.333374 17 0.333374C16.558 0.333374 16.1341 0.482629 15.8215 0.748306C15.509 1.01398 15.3334 1.37432 15.3334 1.75004V15.3359L11.5167 12.0775C11.3613 11.9455 11.1768 11.8407 10.9738 11.7692C10.7708 11.6977 10.5531 11.6609 10.3334 11.6609C10.1136 11.6609 9.896 11.6977 9.69296 11.7692C9.48992 11.8407 9.30544 11.9455 9.15004 12.0775C8.99464 12.2096 8.87138 12.3664 8.78728 12.539C8.70317 12.7116 8.65989 12.8966 8.65989 13.0834C8.65989 13.2702 8.70317 13.4551 8.78728 13.6277C8.87138 13.8003 8.99464 13.9571 9.15004 14.0892L15.8167 19.7559Z"
          fill="white"></path>
      </svg>
    </button>
  </div>
</section>

<style>
  * {
    font-family: Nunito;
  }
  h1 {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .div__about {
    max-width: 100vw;
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .about__main {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .main__image {
    display: flex;
    width: 394px;
    height: 293px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 71px;
    background: url("/Lenora.jpg") lightgray 50%; /* Use contain instead of cover */
    background-size: 450px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 500px), screen and (max-height: 500px) {
    .main__image {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 445px), screen and (max-height: 400px) {
    .main__image {
      width: 220px;
      height: 220px;
      background-size: 330px;
      border-radius: 50%;
    }
  }

  .about__buttons button {
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    width: 248px;
    padding: 24px 40px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 40px;
    background: #000;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    transition: background 0.3s ease;
    cursor: pointer;
  }

  .about__buttons button:hover {
    transform: scale(1.01);
    background: #000000dc;
  }

  .about__buttons button:active {
    box-shadow: 0px 2px 2px 0px #000000dc;
  }

  @media screen and (max-width: 450px) {
    .about__buttons button {
      padding: 12px 10px;
      width: 140px;
      height: 76px;
      font-size: 24px;
    }
  }

  .about__buttons {
    gap: 24px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-height: 709px) and (min-width: 1175px) {
    .div__about {
      flex-direction: row;
    }
    .about__main {
      width: 75vw;
    }
    .about__buttons {
      max-width: 25vw;
    }
  }
</style>
